/bin/
.classpath
.project

.settings/org.eclipse.buildship.core.prefs
.settings/org.eclipse.jdt.core.prefs
*.class
*.zip
*.jar
.gradle/*
gradle.properties
build/*
buildSrc/build/*
buildSrc/.gradle/*
dist/*
*.code-workspace
*.vscode/*

# ignore the gradle-generated help files, see originals in docs/ folder
src/main/help/help/topics/kaiju/*.html
src/main/help/help/topics/kaiju/images/*

