/bin/
.classpath
.project

.settings/org.eclipse.buildship.core.prefs
.settings/org.eclipse.jdt.core.prefs
Module.manifest
*.class
*.zip
*.jar
.gradle/*
gradle.properties
3rdparty/*
build/*
buildSrc/build/*
buildSrc/.gradle/*
dist/*
*.code-workspace
*.kate-swp
*.bak
*.vscode/*
VSCODE.classpath

# ignore the gradle-generated help files, see originals in docs/ folder
src/main/help/help/topics/kaiju/*
!src/main/help/help/topics/kaiju/README.md
!3rdparty/
3rdparty/*
!3rdparty/README.md
build/*
lib/*
os/linux_x86_64/*.so
os/linux_x86_64/*.so.*
os/win_x86_64/*.dll
os/mac_x86_64/*.dylib
*.code-workspace
*.vscode/*
.classpath
ghidraZ3code.code-workspace
.VSCodeCounter/*
.classpath_9.1.2_PUBLIC
hs_err_pid26194.log
data/timestomp_close.cpp
data/timestomp_close.exe
*idb
data/timestomp.cpp
data/timestomp.exe
*.obj
data/filopen.exe
data/filopen.cpp
data/timestomp.exe.gzf
*.log
data/solve_chc.py
data/filopen.exe.id0
data/filopen.exe.id1
data/filopen.exe.id2
data/filopen.exe.nam
data/filopen.exe.til
data/timestomp_close.exe.nam
data/timestomp_close.exe.til
data/model copy.json
data/*.id0
data/*.id1
data/*.id2
data/*.nam
data/*.til
data/apidb_src/*.exp
data/apidb_src/*.lib
data/fileopen0.exe
data/fileopen1.exe
data/ops.c
data/optest.out
data/retfunc.c
data/apidb_src/kernel32.cpp
data/apidb_src/kernel32.dll
a.out
optest.out
data/fileopen0.cpp
data/fileopen1.exe
data/retfunc.c
data/fileopen1.exe
data/fileopen1.exe
.classpath_9.2.2_PUBLIC
.DS_Store
*.code-workspace
data/apidb_src/kernel32.cpp
.project
